* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #141c29;
}
img {
    position: absolute; 
    max-width: max-content;
    margin: 0px 0px 170px 0px;
    width: 150px;
    height: 100px;
    }
.detail-p {
    font-size: 20px;
    flex-direction: column;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 700px;
    margin: 50px;
    padding: 50px 0px 50px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(197, 197, 197, 0.8);
}

.card {
    max-width: 100px;
    height: auto;
}

.btn-btn-primary{
    background-color: #141c29;
    color: white;
}
