* {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #354967;
    align-items: first baseline;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.button-style {
    background-color: #354967;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}