
.item-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    border: 5px solid #263143;
}

.item-list-container title {
   font-size: 200px;
}